name: Test Themes
on:
  push:
    branches:
      - main
    paths:
      - "starters/**"
      - "themes/**"
      - ".github/**"
      - "cypress/**"
  pull_request:
    branches:
      - main
    paths:
      - "starters/**"
      - "themes/**"
      - ".github/**"
      - "cypress/**"
jobs:
  test_theme:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Run Tests
        uses: cypress-io/github-action@v1
        with:
          build: yarn build:empty
          start: yarn serve:empty
          config-file: cypress/cypress-github-actions.json
          spec: cypress/e2e/smoke.test.js
